{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}

<script type="text/javascript" >
  // Custom JavaScript for Superset
  (function() {
    console.log('Custom script loaded');

    const isLoginPage = window.location.pathname.includes('/login');
  
    if (!isLoginPage) {
      console.log('[Auto-login] Not on login page, skipping auto-login');
      return;
    }
    
    const executeLogin = async () => {
      try {
        console.log("[Auto-login] Executing login request...");

        const loginRes = await fetch("/login/", {
          method: "POST",
          credentials: "include",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams({
            username: "admin",
            password: "admin",
            provider: "db",
          }),
        });

        console.log("[Auto-login] Response:", loginRes.status);

        if (!loginRes.ok && !loginRes.redirected) {
          console.error("[Auto-login] Failed:", loginRes.status);
          return;
        }

        // console.log("[Auto-login] ✅ Success. Redirecting to:", nextUrl);
        window.location.href = `http://localhost:8088/superset/dashboard/6/?edit=true&standalone=true`;
      } catch (e) {
        console.error("[Auto-login] Error:", e);
      }
    };


    // Wait for DOM to be ready
    document.addEventListener('DOMContentLoaded', function() {
      console.log('Superset page loaded');
      executeLogin()
      // Your custom code here
      // Example: Add custom analytics, modify UI, etc.
    });
  })();
</script>


{#
  This file may be overridden in your custom deployment.
  It will be included in the head block in every view in superset and is a
  good place to include your custom link, meta, style or script elements.
#}
