{#
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
  #}

  {#
    This file may be overridden in your custom deployment.
    It will be included in every view in superset and is a
    good place to include your custom frontend code, such as
    scripts to initialize google analytics, intercom, segment, etc.
  #}
  <!-- <script type="text/javascript" >
  // Custom JavaScript for Superset

  (function() {
    console.log('Custom script loaded');


  //   async function isSessionDead() {
  //     try {
  //       // If we are already on the login page, we are definitely logged out
  //       if (window.location.pathname.includes('/login')) return true;

  //       // Ask the API if we are logged in
  //       const res = await fetch("/api/v1/me/", {
  //                   method: "GET",
  //                   credentials: "include",   
  //                   cache: "no-store",
  //                 });
  //       console.log("res")
  //       return res.status === 401; 
  //     } catch (e) {
  //       return false; 
  //     }
  //  }
    
   
    const getNextUrl = () => {
        const url = new URL(window.location.href);
        const next = url.searchParams.get("next");
        return next;
    };

    
    const executeLogin = async () => {
      try {
        console.log("[Auto-login] Executing login request...");

        const loginRes = await fetch("/login/", {
          method: "POST",
          credentials: "include",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams({
            username: "Sales Analyst",
            password: "admin",
            provider: "db",
           
          }),
        });

        console.log("[Auto-login] Response:", loginRes.status);
                

        if (loginRes.ok || loginRes.redirected) {
                return "SUCCESS";
            } 
            else {
                return "FAIL";
        }
      } catch (e) {
        console.error("[Auto-login] Error:", e);
      }
    };
    //function to check is session expired or not periodically
    // async function runAutoCheck() {

    //   console.log("running auto check");
    //     const dead = await isSessionDead();
    //     console.log("dead results:",dead);
    //     if (!dead) return; 
    //     console.log("[Auto-Login] Session dead. Attempting login");
    //     const result = await executeLogin();
    //     if (result === "SUCCESS") {
    //         console.log("[Auto-Login] ✅ Session revived!");
    //         if (window.location.pathname.includes('/login')) {
    //             window.location.href = getNextUrl();
    //         } else {
    //             window.location.reload(); 
    //         }
    //     } 
       
    // }
    
    document.addEventListener('DOMContentLoaded', function() {
      console.log('Superset page loaded');
      if (window.location.pathname.includes('/login')) {
            console.log("executing login..");
            executeLogin().then(result => {
                if (result === "SUCCESS") window.location.href = getNextUrl();
            });
        }

        
        // console.log("starting autocheck..");
        // setInterval(runAutoCheck, 30000);
        // console.log("done ..");
    });
  })();
</script> -->
